.App {
  text-align: center;
}


/****Homepage****/
.projects {
  padding: 0px;
}
.projectheading {
  text-align: center;
  font-family: 'Cutive Mono', monospace;
  text-transform: uppercase;
  font-size: 42px;
}
.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8 {
  height: 250px;
  width: 320px;
  padding-right: 0px;
  padding-left: 0px;
  flex-grow: 1;
}
.p1 {
  background: url("./images/tvshowtrakr.png");
  background-size: 100% 100%;
  box-shadow: 0 0 0 1px #fff;
}
.work:hover .overlay-inner {
    opacity: 1;
}
.overlay {
  display: flex;
}
.overlay-inner {
    flex-grow: 1;
    height: 248px;
    opacity: 0;
    width: 350px;
    background: rgba(64, 35, 97, 0.85);
    transition: opacity, 0.3s;
    border: 1px solid rgba(64, 35, 97, 0.8);
}
.overlay-text {
    color: white;
    text-align: center;
    margin-top: 80px;
  }
.overlay-text h5 {
  text-transform: uppercase;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
}
.overlay-text p {
  font-size: 14px;
  font-family: 'Inconsolata', monospace;
}
.p2 {
  background: url("./images/barhoppers.png");
  background-size: 100% 100%;
}
.p3 {
  background: url("./images/songgame.png");
  background-size: 100% 100%;
}
.p4 {
  background: url("./images/todo2.png");
  background-size: 100% 100%;
}
.p5 {
  background: url("./images/tictactoe.png");
  background-size: 100% 100%;
}
.p6 {
  background: url("./images/weather.png");
  background-size: 100% 100%;
}
.p7 {
  background: url("./images/seriesjunkie.png");
  background-size: 100% 100%;
}
.p8 {
  background: url("./images/cocktails.png");
  background-size: 100% 100%;
}
.images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/****Heading*****/
.heading {
  height: 750px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  font-size: 70px;
  line-height: 30px;
  font-family: 'Inconsolata', monospace;
}
.banner p {
  font-size: 25px;
  line-height: 0;
  font-family: 'Inconsolata', monospace;
  color: #ff884d;
  padding-bottom: 7px;
}
.banner span {
  font-size: 20px;
  line-height: 0;
  font-family: 'Inconsolata', monospace;
  color: #ff884d;
}

/***FOOTER***/
.footer{
  margin-top: 100px;
  margin-bottom: 50px;
}
.footer_bottom {
  line-height: 0px;
  margin-top: 100px;
}
.footer_bottom p {
  font-size: 12px;
}
button {
  padding: 15px 10px;
  background-color: #ff884d;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2.5px;
  border: 0;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
}
button:hover, button:focus {
  background-color: #3d3d3d;
  color: #fff;
  cursor: pointer;
}

/*****NAV*****/
.navbar {
  background-color: #f2f2f2;
  top: 0;
}
.nav ul {
  height: 60px;
}
.navlink {
  text-decoration: none;
  list-style-type: none;
}
.nav {
  width: 100%;
  overflow: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
}
.links {
  margin-right: 40px;
}
.nav ul h3 {
  width: 100px;
  line-height: 53px;
  padding: 0px 0px 10px 0px;
  text-align:center;
  display: block;
  transition: .2s all linear;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  font-family: 'Julius Sans One', sans-serif;
}
.nav ul h2 {
  font-size: 23px;
  width: 200px;
  float: left;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  padding-top: 5px;
}
.nav ul li {
  display: inline-block;
  float: right;
}
.nav ul li h3:hover {
  color: #ff884d;
}
.menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: #ff884d url(./images/menu-icon.png) center;
}
a:hover.menu-icon, a:active.menu-icon, a:focus.menu-icon {
  background-color: #444;
  border-radius: 4px 4px 0 0;
 }

/****CONTACT****/
.contact_heading {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}
.contact_heading h1 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 24px;
  font-family: "Roboto Slab", sans-serif;
}
.contact_info {
  margin-top: 40px;
}
.contact_info p{
  margin-top: 15px;
  font-family: 'Inconsolata', monospace;
}
.info {
  text-transform: uppercase;
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
  font-weight: bolder;
  color: #ff884d;
}
.contact_footer {
    position:absolute;
    width:100%;
    bottom:0px;
    font-size: 12px;
}
.linkedin a {
  display: inline-block;
  line-height: 0;
  color: black;
}
.linkedin a:hover {
  color: purple;
}
.linkedin {
  line-height: 0;
}
.link {
  text-decoration: none;
  list-style-type: none;
}
.other {
  padding-bottom: 9px;
}

/****ABOUT****/
.about_heading {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}
.about_heading h1 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 24px;
  font-family: "Roboto Slab", sans-serif;
}
.about_info {
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  display: flex;
}
.profpic {
  background: url("./images/me.jpg");
  background-size: 100% 100%;
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 50px;
}
.content {
  width: 660px;
  height: 200px;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
}
.you{
  color: red;
  font-weight: bold;
}
.skills {
  max-width: 1000px;
  margin: auto;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  margin-top: 60px;
  border: 4px dotted orange;
}
.skills h2 {
  font-size: 22px;
}

/***MEDIA-SCREEN***/
@media screen and (max-width: 779px) and (min-width: 675px) {
  .nav ul {
    height: 30px;
  }
  .links {
    margin-right: 70px;
  }
  .nav ul h3 {
    width: 73px;
    line-height: 33px;
    text-align:center;
    font-size: 12px;
  }
  .nav ul h2 {
    font-size: 18px;
    padding: 0px;
  }
}

@media screen and (max-width: 779px) and (min-width: 481px) {
  .heading{
    height: 600px;
  }
  .banner h1 {
    font-size: 48px;
  }
  .banner p {
    font-size: 21px;
    padding-bottom: 2px;
  }
  .banner span {
    font-size: 19px;
  }
  .projectheading {
    font-size: 34px;
  }
  .contact_heading {
    padding-top: 60px;
    height: 200px;
  }
  .about_heading {
    padding-top: 80px;
    height: 145px;
  }
  .about_heading h1 {
    font-size: 26px;
  }
  .profpic {
    margin: 0 auto;
    width: 120px;
    height: 120px;
  }
  .content {
    margin: auto;
    width: 100%;
    font-size: 17px;
  }
  .skills h2 {
    font-size: 20px;
  }
  .skills {
    margin-top: 50px;
    font-size: 17px;
    width: 100%;
  }
  .about_info {
    display: block;
    margin-top: 38px;
  }
  button {
    padding: 13px 9px;
    font-size: 10px;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 480px) and (min-width: 376px) {
  .heading {
    height: 500px;
  }
  .banner h1 {
    font-size: 44px;
  }
  .banner p {
    font-size: 19px;
    padding-bottom: 2px;
  }
  .banner span {
    font-size: 17px;
  }
  .projectheading {
    font-size: 31px;
  }
  .contact_heading {
    padding-top: 85px;
    height: 150px;
  }
  .contact_heading h1 {
    font-size: 26px;
  }
  .info {
    font-size: 13px;
  }
  .about_heading {
    padding-top: 88px;
    height: 120px;
  }
  .about_heading h1 {
    font-size: 24px;
  }
  .profpic {
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }
  .content {
    margin: auto;
    width: 300px;
    height: 200px;
    font-size: 14px;
  }
  .skills h2 {
    font-size: 18px;
  }
  .skills {
    margin-top: 60px;
    font-size: 14px;
    width: 300px;
  }
  .about_info {
    display: block;
    margin-top: 30px;
  }
  button {
    padding: 12px 8px;
    font-size: 9px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 375px) {
  .heading {
    height: 500px;
  }
  .banner h1 {
    font-size: 40px;
    padding-top: 40px;
  }
  .banner p {
    font-size: 18px;
    padding-bottom: 2px;
  }
  .banner span {
    font-size: 17px;
  }
  .projectheading {
    font-size: 27px;
  }
  .contact_heading {
    padding-top: 85px;
    height: 150px;
  }
  .contact_heading h1 {
    font-size: 24px;
  }
  .info {
    font-size: 13px;
  }
  .about_heading {
    padding-top: 88px;
    height: 120px;
  }
  .about_heading h1 {
    font-size: 24px;
  }
  .profpic {
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }
  .content {
    margin: auto;
    width: 300px;
    height: 200px;
    font-size: 14px;
  }
  .skills h2 {
    font-size: 17px;
  }
  .skills {
    margin-top: 60px;
    font-size: 14px;
    width: 300px;
  }
  .about_info {
    display: block;
    margin-top: 30px;
  }
  button {
    padding: 11px 7px;
    font-size: 8px;
    letter-spacing: 2px;
  }
}
@media only screen and (max-width : 674px) {
  .menu-icon {
    display:inline-block;
    float: right;
  }
  .nav ul, .nav:active ul {
    display: none;
    height: 190px;
    width: 180px;
    float: none;
    margin-top: 0px;
    background: #fff;
    border: 5px solid #444;
    border-radius: 4px 0 4px 4px;
  }
  .nav ul li {
    float: none;
  }
  .nav:hover ul {
    display: block;
  }
  .nav ul h3 {
    font-size: 16px;
    width: 100px;
    line-height: 3px;
    color: purple;
    margin: 13.7px 0px;
  }
  .nav ul h2 {
    display: none;
  }
  .links {
    margin-left: 20px;
    width: 90px;
    height: 200px;
  }
}

